body {
    margin: 0;
    color: white;
}

main {
    display: flex;
    overflow: hidden;
}

nav {
    position: fixed;
    max-width: 165px;
    height: 100vh;
    background-color: rgb(var(--tertiary));
    z-index: 2;
}

nav img {
    margin: 5px;
    width: 20px;
    height: 20px;
}

nav ul {
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
}

nav li {
    display: flex;
    width: fit-content;
    border-radius: 0 20px 20px 0;
}

nav li#home, nav li:hover:not(#home) {
    background-color: rgb(var(--secondary));
}

nav li .wrapper {
    margin: 3px;
    padding: 3px 10px;
    border-radius: 20px;
}

nav li#home .wrapper, nav li:hover:not(#home) .wrapper {
    margin-left: 30px !important;
    transition: margin-left 0.2s ease;
}

nav li p {
    margin: auto 10px;
    min-width: 90px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    user-select: none;
}

nav li:hover:not(#home) p {
    text-decoration: underline;
}

.wrapper#content {
    display: block;
    width: 100vw;
    background-color: rgb(var(--background));
}

.wrapper#content .fog {
    position: absolute;
    margin-top: -295px;
    height: auto;
    width: 100vw;
    left: 50%;
    z-index: 0;
}

.wrapper#content .fog#first {
    transform: translateX(-50%) translateY(calc(295px + 100vh - 100% + 15%));
    filter: brightness(35%);
}

.wrapper#content .fog#second {
    transform: translateX(-50%) translateY(calc(295px + 100vh - 100% - 5%));
    filter: brightness(20%);
}

.wrapper#content .fog#third {
    transform: translateX(-50%) translateY(calc(295px + 100vh - 100% - 5%));
    filter: brightness(15%);
}

.wrapper#content .fog#fourth {
    transform: translateX(-50%) translateY(calc(295px + 100vh - 100% - 5%));
    filter: brightness(15%);
}

.row {
    display: flex;
    text-align: justify;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
}

.row#first {
    padding-top: 60px;
}

.row#first .header, .row#third .header {
    position: relative;
    margin: auto;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(var(--secondary));
    box-shadow: 2px 2px 8px rgb(var(--tertiary));
    z-index: 2;
}

.row#first .header {
    transform: translate(calc(-18vw), 22px);
}

.row#second .wrapper {
    margin: 0 0 0 auto;
}

.row#second .text#first {
    position: relative;
    padding: 25px 20px 20px 20px;
    width: 700px;
    height: fit-content;
    border-radius: 15px 25px 35px 25px;
    background-color: rgb(var(--quaternary));
    z-index: 1;
}

.row#second .text#second {
    position: relative;
    margin: -15px -25px 0 auto;
    padding: 15px 20px;
    width: 500px;
    height: fit-content;
    transform: translateY(-20px);
    border-radius: 15px;
    background-color: rgb(var(--primary));
    box-shadow: 2px 2px 10px 2px rgb(var(--secondary));
    z-index: 2;
}

.row#second .imageBlock {
    margin: 0 auto 0 0;
    height: fit-content;
    width: fit-content;
    transform: translate(240px, 30%);
}

.row#second .fillerImage {
    height: 200px;
    width: 400px;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 8px;
}

.row#second .fillerImage:nth-child(2) {
    margin: -150px 0 0 50px;
}

.row#second .fillerImage:last-child {
    margin: -150px 0 0 100px;
}

.row#second .fillerImage img {
    max-width: 100%;
    height: auto;
    transform: translateY(0);
}

.row#second .fillerImage:nth-child(1) img {
    transform: translateY(-35%);
}

.row#third {
    padding-top: 10px;
    flex-direction: column;
}

.row#third .wrapper#header {
    display: flex;
    margin: auto;
    width: fit-content;
    transform: translateY(120px);
}

.row#third .effect {
    position: absolute;
    width: 200px;
    transform: translate(240px, -40px);
}

.row#third .header {
    margin: auto;
    transform: translate(190px, 55px);
    background-color: rgb(var(--quaternary));
    z-index: 2;
}

.row#third .text#first {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(var(--primary));
    box-shadow: 2px 2px 10px 5px rgb(var(--secondary));
    z-index: 1;
}

.row#third .wrapper#companies {
    margin: auto;
}

.row#third .wrapper#companies .anime {
    margin-top: -50px;
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(var(--secondary));
    box-shadow: 5px 5px 0 0 rgb(var(--primary));
}

.row#third .wrapper#companies .anime ul {
    direction: rtl;
}

.row#third .company {
    margin: 40px 0;
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    background-color: rgb(var(--quaternary));
    box-shadow: 5px 5px 0 0 rgb(var(--secondary));
}

.row#third .company#first, .anime#first {
    margin-top: 110px;
    transform: translateX(500px);
}

.row#third .company#second, .anime#second {
    margin-top: -130px;
    transform: translateX(-300px);
}

.row#third .company#third, .anime#third {
    margin-top: 60px;
    transform: translateX(380px);
}

.row#third .company#fourth, .anime#fourth {
    margin-top: 130px;
    transform: translateX(-40px);
}

.row#third .anime#first {
    transform: translateX(580px);
}

.row#third .anime#second {
    transform: translateX(-220px);
}

.row#third .anime#third {
    transform: translateX(460px);
}

.row#third .anime#fourth {
    transform: translateX(40px);
}

footer {
    margin-top: 200px;
    width: 100vw;
    min-height: 200px;
    background-color: rgb(var(--secondary));
    z-index: 10;
}

h1 {
    margin: 0;
    font-family: "Rubik Scribble", system-ui;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px rgb(var(--primary));
}

p {
    margin: 0;
}








@media only screen and (max-width: 1700px) {
    .row {
        font-size: 14px;
    }
    
    .row#first .header {
        transform: translate(calc(-12vw), 20px);
    }

    .row#second .wrapper {
        width: 600px;
    }

    .row#second .text#first {
        margin-left: 100px;
        padding: 25px 20px 20px 20px;
        width: 400px;
    }
    
    .row#second .text#second {
        margin: -15px 0 0 auto;
        width: 300px;
        transform: translateY(-20px);
    }
    
    .row#second .imageBlock {
        margin: 0 auto 0 0;
        height: fit-content;
        width: 200px;
        transform: translate(40px, 10px);
    }
    
    .row#second .fillerImage {
        height: 100px;
        width: 200px;
    }
    
    .row#second .fillerImage:nth-child(2) {
        margin: -50px 0 0 20px;
    }
    
    .row#second .fillerImage:last-child {
        margin: -50px 0 0 40px;
    }
    
    .row#second .fillerImage img {
        max-width: 100%;
        height: auto;
        transform: translateY(0);
    }
    
    .row#second .fillerImage:nth-child(1) img {
        transform: translateY(-35%);
    }
    
    .row#third {
        padding-top: 10px;
    }
    
    .row#third .wrapper#header {
        margin: auto;
        width: fit-content;
        transform: translateY(120px);
    }
    
    .row#third .effect {
        width: 200px;
        transform: translate(240px, -40px);
    }
    
    .row#third .header {
        margin: auto;
        transform: translate(190px, 55px);
    }
    
    .row#third .text#first {
        margin: auto;
        padding: 20px;
        width: 600px;
        height: fit-content;
        box-shadow: 2px 2px 10px 5px rgb(var(--secondary));
    }
    
    .row#third .wrapper#companies {
        margin: auto;
    }
    
    .row#third .wrapper#companies .anime {
        margin-top: -50px;
        padding: 5px;
        width: 80%;
        box-shadow: 5px 5px 0 0 rgb(var(--primary));
    }
    
    .row#third .company {
        margin: 40px 0;
        padding: 20px;
        width: 500px;
        box-shadow: 5px 5px 0 0 rgb(var(--secondary));
    }
    
    .row#third .company#first, .anime#first {
        margin-top: 110px;
        transform: translateX(500px);
    }
    
    .row#third .company#second, .anime#second {
        margin-top: -130px;
        transform: translateX(-300px);
    }
    
    .row#third .company#third, .anime#third {
        margin-top: 60px;
        transform: translateX(380px);
    }
    
    .row#third .company#fourth, .anime#fourth {
        margin-top: 130px;
        transform: translateX(-40px);
    }
    
    .row#third .anime#first {
        transform: translateX(580px);
    }
    
    .row#third .anime#second {
        transform: translateX(-220px);
    }
    
    .row#third .anime#third {
        transform: translateX(460px);
    }
    
    .row#third .anime#fourth {
        transform: translateX(40px);
    }

    h1 {
        font-size: 25px;
    }
    
    h2 {
        font-size: 25px;
    }
}