body {
    margin: 0;
}

main {
    display: flex;
}

nav {
    max-width: 165px;
    height: 100vh;
    background-color: rgb(var(--tertiary));
    z-index: 1;
}

nav img {
    width: 30px;
    height: 30px;
}

nav ul {
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
}

nav li {
    display: flex;
    width: fit-content;
    border-radius: 0 20px 20px 0;
}

nav li#home, nav li:hover:not(#home) {
    background-color: rgb(var(--secondary));
}

nav li .wrapper {
    margin: 3px;
    padding: 3px 10px;
    border-radius: 20px;
}

nav li#home .wrapper, nav li:hover:not(#home) .wrapper {
    margin-left: 30px !important;
}

nav li p {
    margin: auto 10px;
    min-width: 90px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Rubik Scribble", system-ui;
    color: white;
    user-select: none;
}

nav li:hover:not(#home) p {
    text-decoration: underline;
}

.wrapper#content {
    width: calc(100vw - 193px);
    height: 100vh;
    background-color: rgb(var(--background));
}

.wrapper#content #header {
    position: relative;
    margin: auto;
    padding: 10px 20px;
    top: 40px;
    left: -100px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 10px;
}

h1 {
    margin: 0;
}