body {
    margin: 0;
}

.bg-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("..\\Resources\\Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    /* Display */
    display: flex;
    position: relative;
    margin: auto;
    padding: 30px;

    /* Position */
    top: calc(50vh - 105px);
    left: -200px;
    width: fit-content;
    height: 180px;

    /* Content */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Style */
    border-radius: 10px;
    background-color: rgba(var(--primary), 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 8px 8px 10px 4px rgba(var(--secondary), 0.7);
    
    /* Animation */
    animation: spin 4s ease forwards 1s;
}

h1 {
    font-size: 60px;
    color: white;
    margin: 0;
}

h1:first-child {
    font-size: 50px;
    font-weight: lighter;
}